<%= render "shared/header"%>
<div class="index-main">
  <div class="hero">
    <%= image_tag "top_img.jpg", class:"hero-image" %>
    <div class="hero-items">
      <div class="hero-text__main">生徒と先生を繋げるマッチングサイト</div>
      <div class="service-content">
        <div class="service-items">
          <div class="service-explanation-top">生徒と先生を繋げるマッチングサイト</div>
      
          <ul class="service-explanation-lists">
            <li class="service-explanation-main" id="se-top">
              気になるサービスタブにカーソルを合わせてください
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>
<%= render "shared/footer"%>