<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Edupace</title>
  </head>
  <body>
    <header>
      <div class="heading">
        <h1 class="title">Edupace</h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <li>ログイン</li>
          <li>ログアウト</li>
        </ul>
      </div>
    </header>

      

    <footer>
      <p>Copyright(C) Edupace ALL RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>
